$def with (title,labels,data1,data2,data3,legend1,legend2,legend3,yAxesLabel)
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>$title</title>
</head>
<body>
<h2>$title</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<div class="cities" style="width:70%"><canvas id="myChart"></canvas></div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:$:labels,
        datasets: [{
            label: '$legend1',
            data:$data1,
            backgroundColor:'orange',
            borderColor:'orange',
            fill:false,
            borderWidth:2,
            pointBackgroundColor: 'rgba(255, 99, 132, 0.2)'
        },{
            label: '$legend2',
            data:$data2,
            backgroundColor:'green',
            fill:false,
            borderColor:'green',
            borderWidth: 2,
            pointBackgroundColor: 'rgba(255, 199, 199, 0.2)'
        },{
            label: '$legend3',
            data:$data3,
            backgroundColor:'blue',
            fill:false,
            borderColor:'blue',
            borderWidth: 2,
            pointBackgroundColor: 'rgba(255, 199, 199, 0.2)'
        }]
    },
    options: {
        scales: {
            xAxes: [{
                stacked: false,
                }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: '$yAxesLabel'
                    },
                }]
            },
        }
});
</script>
</body>
</html>
