$def with (stockcode,title,labels,data,legend,info0,info1,info2,info3,info4,info5,menu1,menu2,menu3,menu4,menu5,menu6,menu7,menu8,menu9,menu10,menu11,menu12,menu13)
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>$title</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<div class="cities" style="width:50%;float:left"><canvas id="myChart"></canvas></div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels:$:labels,
        datasets: [{
            label: '$legend',
            data:$data,
            //data: [12, 19, 3, 5, 2, 3],
            backgroundColor:'rgba(255, 99, 132, 0.2)',
            borderColor:'rgba(255,99,132,1)',
            borderWidth: 1,
            pointBackgroundColor: 'rgba(255, 99, 132, 0.2)'
            }]
    },
    options: {
        scale: {
            ticks: {
                beginAtZero: true
                },
        },
        title: {
            display: true,
            text: '$title',
            fontSize: 30,
            },
        legend: {
            display: false,
        },
    }
});
</script>
<div style="width:50%;float:left">
<ul>
<li>$info1</li>
<li>$info4</li>
<li>$info3</li>
<li>$info2</li>
<li>$info5</li>
<li>$info0</li>
</ul>
<ol>
<li><a href="/showassets/$stockcode" target="_blank">$menu1</a></li>
<li><a href="/showassetsstructure/$stockcode" target="_blank">$menu2</a></li>
<li><a href="/showassetssource/$stockcode" target="_blank">$menu3</a></li>
<li><a href="/showposition/$stockcode" target="_blank">$menu4</a></li>
<li><a href="/showreceivablesrate/$stockcode" target="_blank">$menu5</a></li>
<li><a href="/showinventoryrate/$stockcode" target="_blank">$menu6</a></li>
<li><a href="/showincomeprofit/$stockcode" target="_blank">$menu7</a></li>
<li><a href="/showroe/$stockcode" target="_blank">$menu8</a></li>
<li><a href="/shownetcashflowsum/$stockcode" target="_blank">$menu9</a></li>
<li><a href="/showinvestmentcash/$stockcode" target="_blank">$menu10</a></li>
<li><a href="/showraisecash/$stockcode" target="_blank">$menu11</a></li>
<li><a href="/showfundholding/$stockcode" target="_blank">$menu12</a></li>
<li><a href="/showinstitutionalperspective/$stockcode" target="_blank">$menu13</a></li>



<ol>
</div>
</body>
</html>
